#codeEdit {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #2f4050;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3000; }
  #codeEdit.fadeInUp, #codeEdit.fadeOutDown {
    top: 0; }
  #codeEdit .colList {
    height: calc(100% - 50px);
    margin: 5px !important;
    margin-top: 0 !important; }
    #codeEdit .colList .colShow {
      height: 100%;
      padding: 0 5px; }
      #codeEdit .colList .colShow .minicon {
        display: none; }
      #codeEdit .colList .colShow.col-sm-1 > div {
        overflow: hidden; }
      #codeEdit .colList .colShow.col-sm-1 .minicon {
        display: flex;
        bottom: 5px;
        left: 5px;
        right: 5px;
        top: 5px;
        background: #eee;
        z-index: 9;
        height: calc(100% - 15px); }
        #codeEdit .colList .colShow.col-sm-1 .minicon.mincode {
          background: #515F69; }
      #codeEdit .colList .colShow .CodeMirror {
        height: calc(100% - 50px) !important;
        background: #515F69 !important; }
      #codeEdit .colList .colShow .cm-s-monokai .CodeMirror-gutters {
        background: #515F69 !important; }
      #codeEdit .colList .colShow .codenav {
        height: 50px;
        line-height: 50px; }
        #codeEdit .colList .colShow .codenav div {
          margin: 0 1px; }
          #codeEdit .colList .colShow .codenav div span {
            background: #777;
            display: block; }
          #codeEdit .colList .colShow .codenav div:hover {
            cursor: pointer;
            opacity: .5;
            filter: alpha(opacity=50); }
          #codeEdit .colList .colShow .codenav div.active {
            cursor: auto;
            opacity: 1;
            filter: alpha(opacity=100); }
            #codeEdit .colList .colShow .codenav div.active span {
              background: #515F69 !important; }
        #codeEdit .colList .colShow .codenav div:first-child, #codeEdit .colList .colShow .codenav div:last-child {
          width: 50px;
          height: 50px;
          background: #333;
          margin: 0;
          opacity: 1;
          filter: alpha(opacity=100);
          color: #eee; }
        #codeEdit .colList .colShow .codenav .maxmin {
          position: relative; }
          #codeEdit .colList .colShow .codenav .maxmin div {
            width: 10px;
            height: 10px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            position: absolute;
            top: 10px;
            right: 10px; }
            #codeEdit .colList .colShow .codenav .maxmin div:after {
              content: '';
              position: absolute;
              width: 2px;
              height: 11px;
              background: #fff;
              transform: rotate(45deg);
              top: -2px;
              right: 3px; }
            #codeEdit .colList .colShow .codenav .maxmin div:last-child {
              transform: rotate(180deg);
              bottom: 10px;
              top: auto;
              right: auto;
              left: 10px; }
          #codeEdit .colList .colShow .codenav .maxmin.actives div {
            bottom: 10px;
            top: auto;
            right: auto;
            left: 10px; }
            #codeEdit .colList .colShow .codenav .maxmin.actives div:last-child {
              transform: rotate(180deg);
              top: 10px;
              right: 10px;
              bottom: auto;
              left: auto; }
        #codeEdit .colList .colShow .codenav.showHtml div.active span {
          background: #fff !important;
          color: #515F69; }

/*# sourceMappingURL=codeEdit.css.map */
