@media (max-width: 767px) {
  .navbar-default {
    width: 70px;
    overflow: hidden; }
    .navbar-default .nav li a i {
      font-size: 16px; }
    .navbar-default .nav li a span {
      display: none; }
    .navbar-default .nav li .dropdown-menu {
      display: none; }

  .article {
    margin-left: 70px; }

  .showCode {
    width: calc(100% - 70px); } }
@media (max-width: 350px) {
  .navbar-default {
    width: 0; }

  .article {
    margin-left: 0; }

  .showCode {
    width: 100%; } }
.margin0 {
  margin: 0px; }

.margint0 {
  margin-top: 0px; }

.marginb0 {
  margin-bottom: 0px; }

.marginl0 {
  margin-left: 0px; }

.marginr0 {
  margin-right: 0px; }

.margint-n0 {
  margin-top: 0px; }

.marginb-n0 {
  margin-bottom: 0px; }

.marginl-n0 {
  margin-left: 0px; }

.marginr-n0 {
  margin-right: 0px; }

.marginh0 {
  margin-left: 0px;
  margin-right: 0px; }

.marginv0 {
  margin-top: 0px;
  margin-bottom: 0px; }

.padding0 {
  padding: 0px; }

.paddingt0 {
  padding-top: 0px; }

.paddingb0 {
  padding-bottom: 0px; }

.paddingl0 {
  padding-left: 0px; }

.paddingr0 {
  padding-right: 0px; }

.paddingh0 {
  padding-left: 0px;
  padding-right: 0px; }

.paddingv0 {
  padding-top: 0px;
  padding-bottom: 0px; }

.top0 {
  top: 0px; }

.right0 {
  right: 0px; }

.left0 {
  left: 0px; }

.bottom0 {
  bottom: 0px; }

.top-n0 {
  top: 0px; }

.right-n0 {
  right: 0px; }

.left-n0 {
  left: 0px; }

.bottom-n0 {
  bottom: 0px; }

.margin5 {
  margin: 5px; }

.margint5 {
  margin-top: 5px; }

.marginb5 {
  margin-bottom: 5px; }

.marginl5 {
  margin-left: 5px; }

.marginr5 {
  margin-right: 5px; }

.margint-n5 {
  margin-top: -5px; }

.marginb-n5 {
  margin-bottom: -5px; }

.marginl-n5 {
  margin-left: -5px; }

.marginr-n5 {
  margin-right: -5px; }

.marginh5 {
  margin-left: 5px;
  margin-right: 5px; }

.marginv5 {
  margin-top: 5px;
  margin-bottom: 5px; }

.padding5 {
  padding: 5px; }

.paddingt5 {
  padding-top: 5px; }

.paddingb5 {
  padding-bottom: 5px; }

.paddingl5 {
  padding-left: 5px; }

.paddingr5 {
  padding-right: 5px; }

.paddingh5 {
  padding-left: 5px;
  padding-right: 5px; }

.paddingv5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.top5 {
  top: 5px; }

.right5 {
  right: 5px; }

.left5 {
  left: 5px; }

.bottom5 {
  bottom: 5px; }

.top-n5 {
  top: -5px; }

.right-n5 {
  right: -5px; }

.left-n5 {
  left: -5px; }

.bottom-n5 {
  bottom: -5px; }

.margin10 {
  margin: 10px; }

.margint10 {
  margin-top: 10px; }

.marginb10 {
  margin-bottom: 10px; }

.marginl10 {
  margin-left: 10px; }

.marginr10 {
  margin-right: 10px; }

.margint-n10 {
  margin-top: -10px; }

.marginb-n10 {
  margin-bottom: -10px; }

.marginl-n10 {
  margin-left: -10px; }

.marginr-n10 {
  margin-right: -10px; }

.marginh10 {
  margin-left: 10px;
  margin-right: 10px; }

.marginv10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.padding10 {
  padding: 10px; }

.paddingt10 {
  padding-top: 10px; }

.paddingb10 {
  padding-bottom: 10px; }

.paddingl10 {
  padding-left: 10px; }

.paddingr10 {
  padding-right: 10px; }

.paddingh10 {
  padding-left: 10px;
  padding-right: 10px; }

.paddingv10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.top10 {
  top: 10px; }

.right10 {
  right: 10px; }

.left10 {
  left: 10px; }

.bottom10 {
  bottom: 10px; }

.top-n10 {
  top: -10px; }

.right-n10 {
  right: -10px; }

.left-n10 {
  left: -10px; }

.bottom-n10 {
  bottom: -10px; }

.margin15 {
  margin: 15px; }

.margint15 {
  margin-top: 15px; }

.marginb15 {
  margin-bottom: 15px; }

.marginl15 {
  margin-left: 15px; }

.marginr15 {
  margin-right: 15px; }

.margint-n15 {
  margin-top: -15px; }

.marginb-n15 {
  margin-bottom: -15px; }

.marginl-n15 {
  margin-left: -15px; }

.marginr-n15 {
  margin-right: -15px; }

.marginh15 {
  margin-left: 15px;
  margin-right: 15px; }

.marginv15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.padding15 {
  padding: 15px; }

.paddingt15 {
  padding-top: 15px; }

.paddingb15 {
  padding-bottom: 15px; }

.paddingl15 {
  padding-left: 15px; }

.paddingr15 {
  padding-right: 15px; }

.paddingh15 {
  padding-left: 15px;
  padding-right: 15px; }

.paddingv15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.top15 {
  top: 15px; }

.right15 {
  right: 15px; }

.left15 {
  left: 15px; }

.bottom15 {
  bottom: 15px; }

.top-n15 {
  top: -15px; }

.right-n15 {
  right: -15px; }

.left-n15 {
  left: -15px; }

.bottom-n15 {
  bottom: -15px; }

.margin20 {
  margin: 20px; }

.margint20 {
  margin-top: 20px; }

.marginb20 {
  margin-bottom: 20px; }

.marginl20 {
  margin-left: 20px; }

.marginr20 {
  margin-right: 20px; }

.margint-n20 {
  margin-top: -20px; }

.marginb-n20 {
  margin-bottom: -20px; }

.marginl-n20 {
  margin-left: -20px; }

.marginr-n20 {
  margin-right: -20px; }

.marginh20 {
  margin-left: 20px;
  margin-right: 20px; }

.marginv20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.padding20 {
  padding: 20px; }

.paddingt20 {
  padding-top: 20px; }

.paddingb20 {
  padding-bottom: 20px; }

.paddingl20 {
  padding-left: 20px; }

.paddingr20 {
  padding-right: 20px; }

.paddingh20 {
  padding-left: 20px;
  padding-right: 20px; }

.paddingv20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.top20 {
  top: 20px; }

.right20 {
  right: 20px; }

.left20 {
  left: 20px; }

.bottom20 {
  bottom: 20px; }

.top-n20 {
  top: -20px; }

.right-n20 {
  right: -20px; }

.left-n20 {
  left: -20px; }

.bottom-n20 {
  bottom: -20px; }

.margin25 {
  margin: 25px; }

.margint25 {
  margin-top: 25px; }

.marginb25 {
  margin-bottom: 25px; }

.marginl25 {
  margin-left: 25px; }

.marginr25 {
  margin-right: 25px; }

.margint-n25 {
  margin-top: -25px; }

.marginb-n25 {
  margin-bottom: -25px; }

.marginl-n25 {
  margin-left: -25px; }

.marginr-n25 {
  margin-right: -25px; }

.marginh25 {
  margin-left: 25px;
  margin-right: 25px; }

.marginv25 {
  margin-top: 25px;
  margin-bottom: 25px; }

.padding25 {
  padding: 25px; }

.paddingt25 {
  padding-top: 25px; }

.paddingb25 {
  padding-bottom: 25px; }

.paddingl25 {
  padding-left: 25px; }

.paddingr25 {
  padding-right: 25px; }

.paddingh25 {
  padding-left: 25px;
  padding-right: 25px; }

.paddingv25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.top25 {
  top: 25px; }

.right25 {
  right: 25px; }

.left25 {
  left: 25px; }

.bottom25 {
  bottom: 25px; }

.top-n25 {
  top: -25px; }

.right-n25 {
  right: -25px; }

.left-n25 {
  left: -25px; }

.bottom-n25 {
  bottom: -25px; }

.margin30 {
  margin: 30px; }

.margint30 {
  margin-top: 30px; }

.marginb30 {
  margin-bottom: 30px; }

.marginl30 {
  margin-left: 30px; }

.marginr30 {
  margin-right: 30px; }

.margint-n30 {
  margin-top: -30px; }

.marginb-n30 {
  margin-bottom: -30px; }

.marginl-n30 {
  margin-left: -30px; }

.marginr-n30 {
  margin-right: -30px; }

.marginh30 {
  margin-left: 30px;
  margin-right: 30px; }

.marginv30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.padding30 {
  padding: 30px; }

.paddingt30 {
  padding-top: 30px; }

.paddingb30 {
  padding-bottom: 30px; }

.paddingl30 {
  padding-left: 30px; }

.paddingr30 {
  padding-right: 30px; }

.paddingh30 {
  padding-left: 30px;
  padding-right: 30px; }

.paddingv30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.top30 {
  top: 30px; }

.right30 {
  right: 30px; }

.left30 {
  left: 30px; }

.bottom30 {
  bottom: 30px; }

.top-n30 {
  top: -30px; }

.right-n30 {
  right: -30px; }

.left-n30 {
  left: -30px; }

.bottom-n30 {
  bottom: -30px; }

@font-face {
  font-family: 'cmui';
  src: url("fonts/cmui.eot?jwqnso");
  src: url("fonts/cmui.eot?jwqnso#iefix") format("embedded-opentype"), url("fonts/cmui.ttf?jwqnso") format("truetype"), url("fonts/cmui.woff?jwqnso") format("woff"), url("fonts/cmui.svg?jwqnso#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="cmui_"], [class*=" cmui_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cmui';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.cmui_box:before {
  content: "\e90b"; }

.cmui_swiper:before {
  content: "\e900"; }

.cmui_tab:before {
  content: "\e90c"; }

.cmui_icons:before {
  content: "\e910"; }

.cmui_code:before {
  content: "\e901"; }

.cmui_copy:before {
  content: "\e902"; }

.cmui_editor:before {
  content: "\e903"; }

.cmui_editorClose:before {
  content: "\e904"; }

.cmui_flex:before {
  content: "\e905"; }

.cmui_home:before {
  content: "\e906"; }

.cmui_refur:before {
  content: "\e907"; }

.cmui_table:before {
  content: "\e908"; }

.cmui_ui:before {
  content: "\e909"; }

.cmui_web:before {
  content: "\e90a"; }
